/*@import url(http://fonts.googleapis.com/css?family=Great+Vibes);*/
@import url(https://fonts.googleapis.com/css?family=Actor);

@font-face {
	font-family: 'Day Dreamer';
	src: url('fonts/Daydreamer.ttf');
}

body {
	width: 100%;
	height: 100%;
	font-family: 'Actor', sans-serif;
}

html {
	width: 100%;
	height: 100%;
  /*background: url(img/background1.jpg) no-repeat center center fixed;*/
}

a{
	text-decoration: none;
	font-family: 'Actor', sans-serif;
	color: #DD5052;
}

a:hover {
	text-decoration: none;
	color:;
}

h2 {
	font-family: 'Day Dreamer', sans-serif;
	text-align: center;
	font-size: 60px;
	color: #DD5052;
	padding-bottom: 50px;
}

.text_padding {
	padding-bottom: 20px;
}

.glyphicon {
	font-size: 15px;
}

.nav {
	opacity: 0.95;
}

#logo {
	font-family: "Day Dreamer", sans-serif;
	display: inline;
	color: #DD5052;
	font-size: 25px;
}

#specialk {
	letter-spacing: -3px;
}

.intro {
	display: table;
	width: 100%;
	height: 100%;
	text-align: center;
	color: #fff;
	background: url(img/Beacham-1154_iphone.png) no-repeat center center scroll;
	background-color: #fff;
	background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.intro-text {
	height: 48em;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: table-cell;
	vertical-align: middle;
}

.intro-text h1 {
	font-family: "Day Dreamer", cursive;
	text-align: center;
	font-size: 40px;
	color: white;
  text-shadow: 5px 5px 20px black;
}

.intro-text h3 {
	font-size: 30px;
}

#aboutus {
	background-color: #fff;
	padding-top: 50px;
}

#aboutus img {
	display: block;
	margin-right: auto;
	margin-left: auto;
	height: 200px;
	width: 200px;
}

#bride p {
	padding-bottom: 50px;
}

#ourstory {
	padding-top: 50px;
	padding-bottom: 50px;
}

#mainevent {
	padding-top: 50px;
	padding-bottom: 50px;
}

#mainevent a {
	font-family: "Day Dreamer", cursive;
}

#mainevent img {
	padding-bottom: 50px;
}

#accommodations {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #fff;
}

.sidecard img {
	height: auto;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	vertical-align: middle;
}

.venueinfo {
	margin-top: 3%;
	margin-bottom: 3%;
}

.sidecard h3, p {
	text-align: center;
	color: black;
}

#rsvp {
	padding-top: 50px;
	padding-bottom: 50px;
}

#rsvp .namefield {
}

#registry {
	padding-top: 50px;
	padding-bottom: 50px;
}

#registry img {
	padding-top: 50px;
	width: 80%;
	height: auto;
}

footer {
	height: 100%;
}

.footerimage {
	height: 48em;
	width: 100%;
	background: url(img/Beacham-1243_iphone.png) no-repeat center center scroll;
	background-color: #fff;
	background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

/* for devices larger than an iphone/ipad */
/* was 767 */
@media(min-width:767px) {

	.intro {
		display: table;
		width: 100%;
		height: 100%;
		text-align: center;
		color: #fff;
		background: url(img/Beacham-1154.jpg) no-repeat center center scroll;
		background-color: #fff;
		background-size: cover;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	}

	.intro-text h1 {
		font-size: 140px;
	}

	.intro-text h3 {
		font-size: 50px;
	}

	#bride p {
		padding-bottom: 0px;
	}

	.footerimage {
		width: 100%;
		height: 100%;
		background: url(img/Beacham-1243_edit.png) no-repeat center center scroll;
		background-color: #fff;
		background-size: cover;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	}
}

@media

@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-device-width : 768px) and (max-device-width : 1024px),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5){

  html,
  body{
    width: 100%;
    overflow-x: hidden;
    height: auto;
  }




}
